* {
  font-family: "Hack";
  font-size: 18px;
}

window#waybar {
  background-color: black;
  border-radius: 0px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #f2ebb3;
}

/* you can set a style on hover for any module like this */
/*
#pulseaudio:hover {
  background-color: @surface2;
}

#temperature:hover {
  background-color: @surface2;
}

#network:hover {
  background-color: @surface2;
}
*/

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  font-weight: 500;
  color: #f2ebb3;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: black;
  box-shadow: inset 0 -3px #f2ebb3;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #f2ebb3;
}

#clock,
#battery,
#cpu {
  color: #f2ebb3;
}
#memory {
  color: #f2ebb3;
}
#temperature,
#network,
#pulseaudio {
  padding: 0 10px;
}

#pulseaudio {
  color: #f2ebb3;
}

#network {
  color: #f2ebb3;
}

#temperature {
  color: #f2ebb3;
}

#battery {
  color: #f2ebb3;
}

#clock {
  color: #f2ebb3;
}

#window {
  color: #f2ebb3;
}

.modules-right,
.modules-left,
.modules-center {
  background-color: black;
  border-radius: 15px;
}
.modules-right {
  padding: 0 10px;
}

.modules-left {
  padding: 0 20px;
}

.modules-center {
  padding: 0 10px;
}
#battery.charging,
#battery.plugged {
  color: #f2ebb3;
}

@keyframes blink {
  to {
    color: #f2ebb3;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #f2ebb3;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #f2ebb3;
}

#pulseaudio.muted {
  color: #f2ebb3;
}

#cava {
  margin-right: 20px;
  color: #f2ebb3;
}

#tray {
  margin-right: 20px;
  color: #f2ebb3;
}

#privacy {
  color: #cc241d;
}

#custom-mpris {
  color: #f2ebb3;
  margin-right: 20px;
}

#custom-arch_spacer {
  color: #f2ebb3;
}
